    h1 {
        font-weight: 200;
        color: #0ccac4
    }
    
    h1 {
        font-family: Copperplate, "Copperplate Gothic Light", fantasy;
        font-size: 18px;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;
        line-height: 19.8px;
    }